[Unit]
Description=Receive worker

[Service]
ExecStart=/home/pi/water-sensor/js/receive/receive.sh
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target